body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(168, 42, 42);
    color: white;
    margin: 0;
}


nav {
    background-color: rgb(219, 41, 53);
    margin: 5px;
    text-align: center;
}

nav a{
    text-decoration: none;
    margin: 50px;
}

.nav-link {
    text-decoration: none;
}

h1 {
text-align: center;
}
.img src{
   width: 50px;
   height: 20px;
}
p {
    display: flex;             /* Включає режим Flexbox */
    justify-content: center;   /* Центрує дочірній елемент по горизонталі */
    align-items: center;       /* Центрує дочірній елемент по вертикалі */
    height: 100vh;             /* Встановлює висоту контейнера на весь екран (viewport height) */
    width: 100%;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2645ab; /* Колір фону */
    border: 1px solid #4f3636;    /* Рамка */
    padding: 15px;             /* Внутрішній відступ */
    margin: 10px 0;            /* Зовнішній відступ */
    border-radius: 5px;   
}

img{
   width: 160px;
   height: 100px;
   transition: 1.5s;
}

img:hover{
    width:450px ;
    height: 350px;

}

nav a:hover{
    text-decoration: none;
    margin: 50px;
    color: rgb(38, 203, 63);
}

footer{
    text-align: center;
    font-size: 0.9rem;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
