body {
    font-family: sans-serif;
}

header{
    background-color: rgb(4, 82, 250);
    text-align: center;
}
img{
    width: 100px;
}

main{
    background-color: rgb(3, 247, 234);
}
main p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hor{
    width: 500px;
}
footer{
    background-color: rgb(3, 10, 116);
    color: white;
}

a {
    margin-left:100px;
    margin-right: 100px;
}

nav {
    background-color: rgb(219, 41, 53);
    margin: 5px;
    text-align: center;
}

nav a{
    text-decoration: none;
    margin: 50px;
}
